@import 'tailwindcss';
#root {
  max-width: 1280;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}

body {
  @apply bg-zinc-700 w-screen;
}

/* Modal Dialog styles */
dialog::backdrop {
  backdrop-filter: blur(8px);
  background: rgba(0,0,0,0.3);
}
dialog{
  margin:auto;
  inset: 0;
  position: fixed;
  animation: 0.2s dialog-pop-in ease-in forwards;
}
/* Entry animation */
@keyframes dialog-pop-in {
  from {
    opacity: 0;
    transform: scale(0.5) translateY(20px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

/* Exit animation */
@keyframes dialog-pop-out {
  from {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  to {
    opacity: 0;
    transform: scale(0.8) translateY(20px);
  }
}

.login-form{
  @apply pb-5 w-full flex flex-col gap-1 justify-center max-w-80 md:max-w-full md:shadow-xl md:shadow-zinc-900/20;
  @apply md:border-2 md:border-zinc-500/20 md:rounded-2xl md:w-100 md:h-100 md:bg-zinc-600/50;

  .label{
    @apply text-2xl font-medium;
  }
  label{
    @apply flex flex-col p-2 text-left gap-1 text-lg font-medium md:self-center;
  }
  input{
    @apply border border-zinc-500 bg-zinc-600 shadow-sm rounded-lg p-2 px-4 font-normal md:w-80;
    @apply transition-all duration-300;
    @apply outline-transparent outline-2;
    @apply focus:border-transparent focus:outline-white;
  }
  input[type=submit]{
    @apply mx-2 my-3 bg-white text-zinc-500 font-bold;
    @apply hover:bg-zinc-700 hover:text-white;
    @apply md:self-center;
    @apply active:scale-95;
    @apply focus:outline-4 focus:outline-zinc-800/60;
  }

  input:not([type="submit"]):focus{
    @apply bg-zinc-700;
  }
  input::placeholder{
    @apply text-zinc-500;
  }
}

button{
  @apply cursor-pointer
}



/* Wrapper */
.blog-form-wrapper {
  @apply mx-auto max-w-screen md:px-4 md:py-4;
}

/* Form */
.blog-form {
  @apply flex flex-col md:w-[80vw] min-h-screen md:min-h-auto gap-4 md:rounded-lg border border-zinc-800 bg-zinc-900 p-6;
}

/* Header / Save button */
.blog-form-header {
  @apply flex flex-wrap gap-2;
}

.blog-form-submit {
  @apply cursor-pointer rounded-md bg-zinc-700 px-4 py-2 text-sm font-medium text-zinc-200 transition hover:bg-zinc-600 focus:outline-none focus:ring-2 focus:ring-zinc-500/40;
}

/* Inputs */
.blog-form-input {
  @apply w-full rounded-md border border-zinc-700 bg-zinc-900 px-3 py-2 text-sm text-zinc-200 placeholder-zinc-500 focus:border-zinc-500 focus:outline-none focus:ring-2 focus:ring-zinc-500/40;
}

/* Textarea */
.blog-form-textarea {
  scrollbar-width: thin;
  @apply min-h-100 w-full resize-y rounded-md border border-zinc-700 bg-zinc-900 px-3 py-2 text-sm leading-relaxed text-zinc-200 placeholder-zinc-500 focus:border-zinc-500 focus:outline-none focus:ring-2 focus:ring-zinc-500/40;
}

/* Form Input text format */
.blog-form-input, .blog-form-textarea {
  @apply font-normal;
}

.thin-scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #000000;
}

.thin-scrollbar::-webkit-scrollbar
{
	width: 5px;
	background-color: #000000;
}

.thin-scrollbar::-webkit-scrollbar-thumb
{
	background-color: #F5F5F5;
}

/* Markdown wrapper */

.md-wrapper {
  @apply bg-zinc-900 md:mx-2 md:rounded-lg md:mt-2 md:w-[80vw]! p-5 flex flex-col gap-2;
  h1{
    @apply w-full text-left;
  }
  p{
    @apply text-justify p-5;
  }
  img{
    @apply w-full rounded;
  }
  .tags {
    @apply rounded-full bg-zinc-600/40 text-white py-1 px-2 text-sm;
  }
}