@import 'tailwindcss';
#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  @apply bg-zinc-950 w-screen m-0 place-items-center;
}

main {
  @apply xl:border-r xl:border-l border-zinc-700
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.md-wrapper {
  @apply text-justify;
  img{
    @apply border bg-[canvas] w-full object-contain mt-2 mb-2 rounded border-zinc-500/20 p-2;
  }
}